@using HSG.Helper
@using POT.Services
@*using StackExchange.Profiling*@
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <!-- meta http-equiv="X-UA-Compatible" content="IE=edge;" if IE DOM event issues occur 
    https://forum.jquery.com/topic/jquery-2-1-1-min-js-object-doesn-t-support-property-or-method-addeventlistener
     /-->
    <script type="text/javascript">
        /* ===== Variables used in diff pages ===== */

        var loginURL = '@HSG.Helper.Defaults.commonRoot/Login'; //Make sure Login page has table with id=tblLogin001
        //@* ===== Loading content ===== *@
        var loading = '<div id="loading" style="text-align:center;display:block;"><img src=" @Url.Content("~/Content/Images/loading.gif")" title="" alt="Loading" /></div>'; //Used by forms using AJAX
        //@* ===== Required to show/hide search-panel ===== *@
        var showImgPath = '@Url.Content("~/Content/Images/aroL.gif")'; //"../../Resources/images/aroL.gif";
        var hideImgPath = '@Url.Content("~/Content/Images/aroB.gif")'; // "../../Resources/images/aroB.gif";
        //@*- ===== Required by datePicker ===== -*@
        var minSQLDate = new Date("@Defaults.minSQLDate.ToString(Defaults.dtUniFormat2)");
        var maxSQLDate = new Date("@Defaults.maxSQLDate.ToString(Defaults.dtUniFormat2)");
        var usrName = '@_SessionUsr.UserName', todayDT = '@DateTime.Now.ToString(Defaults.dtFormat, Defaults.ci)';                
    </script>
    <link rel="shortcut icon" href="@Url.Content("~/Content/favicon.ico")" type="image/x-icon" />
    <link rel="icon" href="@Url.Content("~/Content/favicon.ico")" type="image/ico" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jQUI/css/jquery-ui.1.12.0.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/timeout/timeout-dialog.css")" rel="stylesheet" />

    <script src="@Url.Content("~/Content/jQUI/min/jquery-3.1.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/jQUI/min/jquery-ui.1.12.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/mousetrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery.validate.1.14.0.js")" type="text/javascript"></script>
    @* KO is required at top because of usage of ko.observableArray declaration in some viewmodels *@
    <script src="@Url.Content("~/Content/Scripts/KO/knockout-3.3.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/KO/knockout.mapping-latest.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $().ready(function () {
            @*Render menu ASAP*@
            $("#menu1").menu({ position: { at: "left bottom" } });
            @{bool? oprSuccess = ((bool?)ViewData["oprSuccess"]);}
            @if (oprSuccess.HasValue)
            {
                @Html.Raw(Defaults.getOprResult(oprSuccess.Value, (ViewData["err"] ?? "Error").ToString()))
            }
        });
    </script>

    <style type="text/css">
		    body {overflow:scroll;background-color:Transparent;height:100%}
		    /* for tablesorter plugin */
		    table.tablesorter thead tr .header {
	            background-position: center right;
	            background-repeat: no-repeat;
	            cursor: pointer;
            }
		    table.tablesorter thead tr .headerSortUp {/* ascending and descending images are working in reverse  */
	            background-image: url('@Url.Content("~/Content/Images/dsc.gif")');            
            }
            table.tablesorter thead tr .headerSortDown { background-image: url('@Url.Content("~/Content/Images/asc.gif")');	}	    

	
        @* jQUI menu - make it Horizontal *@
        
        #menu1 li { display:inline-block; width: auto; position: relative;}
        #menu1 li.sub { display:block; width: auto; }            
        #menu1 li a:link { text-decoration:none;}
        #menu1 ul li a:link { white-space:nowrap; text-decoration:none; width:150px; display:inline-block;}
        #menu1 ul li a:hover { background-color:#E5E5E5; color: black;}
    </style>
    @*<!--[if IE 7]>
	    <style type="text/css">
		    body {overflow:auto;}
		    /* Special case handing for IE 7 which showed double scrollbar */
	    </style>
    <![endif]-->
    <!--[if IE 8]><style type="text/css">body {overflow:auto;}</style><![endif]-->*@
    <!--[if IE 9]><style type="text/css">body {overflow:auto;}</style><![endif]-->
    <!--[if IE 10]><style type="text/css">body {overflow:auto;}</style><![endif]-->
    @RenderSection("HeadContent", required: false)
    @*MiniProfiler.RenderIncludes()*@
</head>
<body>
    <table cellpadding="3" width="100%" cellspacing="3" border="0" align="center">        
        <tr>
            <td id="header" colspan="2">
                <table cellspacing="0" width="99%" align="center" style="background: #333333;">
                    <tr>
                        <td id="header">
                            &nbsp;&nbsp;<img src='@Url.Content("~/Content/Images/AOT-Header.png")' alt="AOT" border="0" style="display:inline;"/>
                        </td>
                        <td id="logindisplay" align="right" valign="bottom" nowrap="nowrap" class="white" style="background-position:right; background-repeat:no-repeat; background-image:url('@Url.Content("~/Content/Images/tires_banner.gif")');">                            
                            @{Html.RenderPartial("LogOnUserControl");}                           
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center" style="padding: 4px 4px 4px 4px">
                <div id="smoothmenu" style="text-align: left;">
                    <ul id="menu1">                        
                        <li style="padding:3px 0px">
                            <a id="jDashboard" href="@Url.Action("List", "Dashboard")" short="alt+a">D<u1>a</u1>shboard</a>
                            @*Html.ActionLink("Dashboard", "List", "Dashboard")*@
                        </li>
                        <li>
                            <a id="mDashboard" href="@Url.Action("ListJQG", "Dashboard")" short="alt+j" style="white-space:nowrap">
                            <u1>j</u1>qG Dashboard</a>
                        </li>
                        @if (_Session.RoleRights.ManageMaster || _Session.RoleRights.ManageUser || _Session.RoleRights.ManageRole)
                        { 
                            <li><a id="mManage" href="#" short="alt+m"><u1>M</u1>anage</a>
                                <ul>
                                    @if (_Session.RoleRights.ManageUser)
                                    {<li>@Html.ActionLink("Users", "List", "User")</li>}
                                    @if (_Session.RoleRights.ManageRole)
                                    {<li>@Html.ActionLink("Roles", "Manage", "Role")</li>}
                                    @if (_Session.RoleRights.ManageMaster)
                                    {<li>@Html.ActionLink("Master", "Status", "Manage")
                                    <ul>
                                        <li>@Html.ActionLink("Carrier", "Carrier", "Manage")</li>
                                        <li>@Html.ActionLink("Container Type", "Container_Type", "Manage")</li>
                                        <li>@Html.ActionLink("File Type", "File_Type", "Manage")</li>
                                        <li>@Html.ActionLink("Status", "Status", "Manage")</li>
                                    </ul>
                                </li>                                
                                    }
                                    @if (_Session.RoleRights.ManageSetting)
                                    { 
                                        <li>@Html.ActionLink("Setting", "Manage", "Setting")</li>}
                                </ul>
                            </li>
                        }
                        @if (_Session.RoleRights.ViewActivity)
                        { <li><a id="mAct" href="@Url.Action("Log", "Activity")" short="alt+y">Activit<u1>y</u1></a>
                            @*Html.ActionLink("Activit<u>y</u>", "Log", "Activity")*@</li>}
                    </ul>
                    @*<br style="clear: left" />*@
                </div>                
            </td>
        </tr>
        <tr>
            <td id="main" colspan="2" align="left" valign="top">@RenderBody()</td>
        </tr>
        <tr>
            <td id="footer" colspan="2" align="left" class="small">
                @* Copyright &copy; 2011 American Omni Trading *@
                @{ string version = "version " + _Session.WebappVersion;}
                &nbsp;@version
                <img src="@Url.Content("~/Content/Images/spacer.gif")" height="1px" width="800px" />
            </td>
        </tr>
    </table>
    @RenderSection("FootContent", required: false)
    <div id="divdlg" style="text-align: center; display: none; height: 70px; width: 61px;">
        <img src=" @Url.Content("~/Content/Images/loading.gif")" title="" alt="Loading" style="text-align:center" />
    </div>
<script src="@Url.Content("~/Content/Scripts/common.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Scripts/KO/KoExtra.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Scripts/jquery.form.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Scripts/jquery.noty.packaged.v222.js")" type="text/javascript"></script>
    @* HT: IE9 doesn't allow to use var tc = new $.taconite(responseXML);*@
<script src="@Url.Content("~/Content/Scripts/jquery.taconite.js")" type="text/javascript" ></script>
    <script  src="@Url.Content("~/Content/Scripts/jquery.table.nav.1.0.js")" type="text/javascript" ></script>
<script type="text/javascript">
        $().ready(function () {        
            $.validator.setDefaults({
                //onfocusin: function(element) { $(element).valid(); },            
                focusInvalid: false
            , focusCleanup: true
            , onsubmit: true
            , onkeyup: false// Keep false possible internal bug : SO: 8045731, 4713849
            , onfocusout: function (element) { return true; /*$(element).valid();*/ }
            });
            //$.validator.onkeyup = false; // http://forum.jquery.com/topic/jquery-validation-plug-in-setdefaults-not-working
            $.validator.addMethod("integer", function (value, element) { // for fields like Pieces, etc.. instead of class="number"
                return this.optional(element) || /^-?\d+$/.test(value);
            }, 'Please enter a non zero number.');
            setAutofocus(); // Polyfill for < IE10

            initShortCuts();
        });
</script>

    @*https://github.com/rigoneri/timeout-dialog.js?next=%2Ftimeout-dialog.js%2F&timeout=t*@
    <script src="@Url.Content("~/Content/timeout/timeout-dialog.js")"></script>

    <script type="text/javascript">
    /* @* ---------------- START : Session Timeout Notification ---------------- *@ */
        // SO : 23023916
        // Set timeout variables.
        var timerCountdownInMinute = 5;
        var timoutWarningMS = @Html.Raw((Session.Timeout-5) * 60*1000); // Display warning Before x minute
        var logoutUrl = '@Url.Action("Login","Common")'; // URL to logout page.

        var warningTimer;

        // Start warning timer.
        function StartWarningTimer() {
            warningTimer = setTimeout("IdleWarning()", timoutWarningMS/2);
        }

        //// Reset timers.
        function ResetTimeOutTimer() {
            //clearTimeout(timeoutTimer);
            StartWarningTimer();
            //$("#timeout").dialog('close');
        }

        // Show idle timeout warning dialog.
        function IdleWarning() {
            clearTimeout(warningTimer);
            /*<![CDATA[*/
            // http://rigoneri.github.io/timeout-dialog.js/
            $.timeoutDialog({
                keep_alive_url : '@Url.Action("KeepAlive", "Common")',
                timeout: timerCountdownInMinute * 60, countdown: timerCountdownInMinute * 60,
                logout_redirect_url: '@Url.Action("Login/LogOff","Common")',
                restart_on_yes: false,
                callback: StartWarningTimer //function(){ alert("Restart");}
            });

            /*]]>*/

            // Add code in the #timeout element to call ResetTimeOutTimer() if
            // the "Stay Logged In" button is clicked
        }

        ResetTimeOutTimer();
        /* @* ----------------  END  : Session Timeout Notification ---------------- *@ */
    </script>

@*<!--[if lt IE 8]>
<script src="@Url.Content("~/Content/Scripts/json2.js")" type="text/javascript" ></script>
<![endif]-->*@
</body>
</html>